@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #2b2b2b;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #dfb14f;
    border-radius: 10px;
  }
}

@function grade-color($grade) {
  @return map-get(
    (
      0: #ffffff,
      1: #008000,
      2: #3c6dff,
      3: #c8c800,
      4: #aa0000,
    ),
    $grade
  );
}

@mixin icon-grade($grade) {
  $color: grade-color($grade);

  border-radius: 4px;
  border: 2px solid darken($color, 10);
  // box-shadow: 0px 0px 8px 0px darken($color, 10);
}

@mixin item-icon {
  background-color: rgb(15, 15, 15);

  &[grade="0"] {
    @include icon-grade(0);
  }

  &[grade="1"] {
    @include icon-grade(1);
  }

  &[grade="2"] {
    @include icon-grade(2);
  }

  &[grade="3"] {
    @include icon-grade(3);
  }

  &[grade="4"] {
    @include icon-grade(4);
  }
}

@mixin label-grade($grade) {
  color: grade-color($grade);
}

@mixin item-name {
  &[grade="0"] {
    @include label-grade(0);
  }

  &[grade="1"] {
    @include label-grade(1);
  }

  &[grade="2"] {
    @include label-grade(2);
  }

  &[grade="3"] {
    @include label-grade(3);
  }

  &[grade="4"] {
    @include label-grade(4);
  }
}

@mixin floating-section {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 8px;

  background-color: #2b2b2b;
  box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.75);

  padding: 0.5rem;
}
